<!-- <div>
  <button (click)="avecStock()"> Tous </button>
  <button (click)="sansStock()"> En stock</button>
</div>
<div>
  <button (click)="addArticle()">Ajouter Article</button>
</div> -->

<h4> Liste d'Articles  </h4> -->


<div>
  <label>Liste des Categories</label>
  <select class="browser-default"  (change)="selectArticleByCategorie($event.target.value)">
    <option value="" disabled selected>Choisissez par Categorie</option>
    <option *ngFor="let categorie of cate" value="{{categorie.id}}" >{{categorie.id}} {{ categorie.nom }}</option>
  </select>
  </div>

<table class="striped" *ngIf='arti'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Designation</th>
      <th>Stock</th>
      <th>prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of arti">
      <td><img [src]=article.image /> </td>
      <td (click)="selectArticle(article.id)" >{{article.designation}}</td>
      <td >{{article.stock}}</td>
      <td>{{article.prix | number:'0.2'}} €</td>
      <td [appStockCouleur]=article.stock >
        
        <div *ngIf="article.stock > 0"> <i class="small material-icons">add_shopping_cart</i></div>
        <div *ngIf="article.stock == 0"> <i class="small material-icons">cancel</i><br> Pas de stock</div>
      </td>
      <!-- <td> <i class="fa fa-trash action" style="font-size:24px" (click)="deleteArticle(article.id)"></i></td>  $event.target.value  -->
    </tr>
  </tbody>
</table>
<div *ngIf='!arti'>
  <p> {{message2}} </p>
</div>

<div class="container">
<router-outlet></router-outlet>
</div>