

<!-- <app-menu-nav></app-menu-nav> -->
<!-- <app-detail-article></app-detail-article>  -->
<!-- <app-liste-produits></app-liste-produits>    -->

<h4> Navigation</h4>
<nav>
    <ul>
        <li><a routerLink="/liste-produits">Liste Produits</a></li>
        <li><a routerLink="/detail-article">Detail article</a></li>
        <li><a routerLink="/ajouter-article">Ajouter article</a></li>
        <li><a routerLink="/ajouter-article-builder">Ajouter article builder</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
