<!-- <div>

  <button (click)="avecStock()"> Tous </button>
  <button (click)="sansStock()"> En stock</button>
</div>

<div>
  <button (click)="addArticle()">Ajouter Article</button>
</div> -->

<h4> Liste d'Articles  </h4>


<div>
  <label>Categorie</label>
  <select class="browser-default">
    <option value="" disabled selected>Choisissez par Categorie</option>
    <option *ngFor="let categorie of cat">{{ categorie.id }} {{ categorie.nom }}</option>
  </select>
  </div>

<table class="striped" *ngIf='arti'>
  <thead>
    <tr>
      <th> Image</th>
      <th>Designation</th>
      <th>Stock</th>
      <th>prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of arti" (click)="selectArticle(article.id)">
      <td><img [src]=article.image /> </td>
      <td>{{article.designation}}</td>
      <td [appStockCouleur]=article.stock>{{article.stock}}</td>
      <td>{{article.prix | number:'0.2'}} €</td>
      <td> </td>
      <!-- <td> <i class="fa fa-trash action" style="font-size:24px" (click)="deleteArticle(article.id)"></i></td> -->
    </tr>
  </tbody>
</table>
<div *ngIf='!arti'>
  <p> {{message2}} </p>
</div>