
<div class="row">
  <h4> affichage en card </h4>
  <div class="col s12 m7">
    <div class="card"  >
      <img [src]=article.image /><br>
      <div class="card-content" [align]=aligne>
        {{article.designation}}<br>
        {{article.id}}<br>
        {{article.constructeur.nom }} <br>
        {{article.content}}<br>
        {{article.dateMiseEnLigne | date: short}}<br>
        {{article.categorie.nom}}<br>
        {{article.stock }}<br>
        {{article.prix}} € <br>
      </div>
      <div class="card-action">
        <a routerLink="/liste-produits"> retour liste Articles</a>
      </div>
    </div>
  </div>
</div>
